body {
    margin: 0;
    font-family: sans-serif;
    position: relative;
    padding-bottom: 5em;
    min-height: 100vh;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

footer {
    background-color: #7c7c7c;
    padding: 1m 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.icons {
    text-align: right;
}

.icons div {
    margin-left: 20px;
    display: inline-block;
    text-align: center;
}

.icons i {
    font-size: 24px; 
}

.section {
    padding: 20px;
    text-align: center; 
}

.titulo{
    text-align: center;
}

.section h2 {
    text-align: center; 
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px; 
}

nav ul li a {
    text-decoration: none; 
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

nav ul li a:hover {
    background-color: #555; 
}

.icons div {
    margin-left: 20px;
    display: inline-block;
    text-align: center;
}

.icons i {
    font-size: 24px; 
    color: #fff; 
}

.icons span {
    display: block; 
    color: #fff; 
}

.slider-box {
    position: relative;
    overflow: hidden;
    margin-left: 30px; /* Ajustar la distancia de la imagen del lado izquierdo */
}

.slider-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.slider-box ul li {
    flex: 1 0 25%; 
    position: relative;
    display: flex; 
}

.slider-box ul li img {
    max-width: 100%;
    height: auto;
}

.producto {
    display: flex;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.imagen img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.descripcion {
    flex: 1;
}

.descripcion h3 {
    margin-top: 0;
}

.descripcion p {
    margin-bottom: 20px;
}

.cantidad {
    margin-bottom: 20px;
}

.cantidad button {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.cantidad button:hover {
    background-color: #ddd;
}

.cantidad span {
    margin: 0 10px;
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}

/* Estilos para los botones de cantidad */
.cantidad button {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cantidad button:hover {
    background-color: #eee;
}

/* Estilos para el botón de agregar al carrito */
.agregar-carrito {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.agregar-carrito:hover {
    background-color: #005f75;
}





